##Data Science Tools and Ecosystem

###In this notebook, Data Science Tools and Ecosystem are summarized.

###Some of the popular languages that Data Scientists use are:
* Python
* R
* PHP

#Some of the commonly used libraries used by Data Scientists include:
* ggplot
* Plotly
* pandas
* numpy

|Data Science Tools|
|--------|
|RStudio|
|Jupyter Notebook|
|VS Code|

###Below are a few examples of evaluating arithmetic expressions in Python

#This a simple arithmetic expression to mutiply then add integers

In [44]:
result=(3*4)+5
print(result)

17

#This will convert 200 minutes to hours by diving by 60

In [63]:
m = 200
hm = float( m//60)

print(hm)

3.0

Objectives:

List popular languages for Data Science:
* R
* Python
* PHP

##Author
Kenan Aalabdallah